body {
	background: url(../images/jiandang100_banner.jpg) top center no-repeat;
}

/* 头部 */
.header {
	width: 1100px;
	margin: 0 auto;
	height: 260px;
	position: relative;
}

.header .logo {
	position: absolute;
	left: 0;
	top: 18px;
	display: inline-block;
	width: 150px;
	height: 38px;
}

.bg-white {
	background: #fff;

}

.centenaryPartyFounding {
	width: 1100px;
	margin: 0 auto;
}

.nav {
	width: 1100px;
	height: 28px;
	margin: 0 auto 13px;
	text-align: center;
}

/* 头条及大图 */
.focus {
	height: 110px
}

.slider {
	height: 645px;
}

/*第一部分头条*/
.column1 {
	text-align: center;
	/*height:130px;*/
	height: auto;
	padding-bottom: 20px;
}

.column1_1 {
	padding-top: 28px;
	padding-bottom: 8px;
	font-family: "微软雅黑", "宋体";
	color: #d9000d;
	font-size: 39px;
}

.column1_1 a {
	color: #d9000d;
	font-size: 39px;
}
.column1_1 a:hover {
	color: #d9000d;
}

/*.column1_2{ line-height:20px; height:20px; overflow:hidden;color:#9b9b9b; font-family:"微软雅黑", "宋体";}*/
/*.column1_2 a{font-size:14px; color:#9b9b9b; padding:0; margin:0}*/
.column1_2 {
	height: auto;
	overflow: hidden;
	color: #d9000d;
	font-family: "微软雅黑", "宋体";
	font-size: 18px;
}

.column1_2 a {
	font-size: 18px;
	color: #d9000d;
	padding: 0;
	margin: 0
}

.column1_2 a:hover {
	color: #d9000d;
}

/*焦点图*/
.lft_pic {
	margin-bottom: 35px;
}

.index_focus .lft_pic {
	width: 100%;
	height: 646px;
	overflow: hidden;
	float: left;
}

.index_focus .pannel-image,
.index_focus img {
	width: 100%;
	height: 610px;
}

/*focus*/
.titBg {
	background: #de0010;
}

/* slider-carousel */
.slider-carousel {
	position: relative;
	width: 100%;
	height: 646px;
	overflow: hidden;
}

.slider-carousel .item {
	width: 100%;
	height: 646px
}

.slider-carousel .slidesjs-navigation {
	width: 42px;
	height: 69px;
	display: none;
	position: absolute;
	text-indent: -9999em;
	top: 280px;
	z-index: 100;
}

.slidesjs-previous {
	background: url(http://www.gov.cn/govweb/xhtml/2016gov/images/public/index_btn01.png) no-repeat;
	left: 0px
}

.slidesjs-next {
	background: url(http://www.gov.cn/govweb/xhtml/2016gov/images/public/index_btn02.png) no-repeat;
	right: 0px
}

.slidesjs-previous:hover {
	background: url(http://www.gov.cn/govweb/xhtml/2016gov/images/public/index_btn01.png) no-repeat;
}

.slidesjs-next:hover {
	background: url(http://www.gov.cn/govweb/xhtml/2016gov/images/public/index_btn02.png) no-repeat;
}

.slidesjs-pagination {
	overflow: hidden;
	zoom: 1;
	position: absolute;
	right: 36px;
	top: 623px;
	width: 110px;
	height: 12px;
	z-index: 10;
	overflow: hidden;
}

.slidesjs-pagination-item {
	float: left;
	width: 20px;
	height: 10px;
}

.slidesjs-pagination-item a {
	float: left;
	display: block;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	margin: 0 5px 0 5px;
	background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/nationalDay/resources/whitedot.jpg) no-repeat;
	_margin: 0 2px 0 2px;
}

.slidesjs-pagination-item a.active {
	background: url(http://www.gov.cn/govweb/xhtml/2019zhuanti/nationalDay/resources/yellowdot.jpg) no-repeat;
	_margin: 0 2px 0 2px;
}

.slider-carousel .titBg {
	position: absolute;
	width: 100%;
	height: 38px;
	left: 0;
	bottom: 0px;
	z-index: 1
}

.slider-carousel .subtitle {
	position: absolute;
	width: 800px;
	height: 38px;
	left: 0;
	bottom: 0px;
	z-index: 2;
	background: #de0010;
}

.slider-carousel .subtitle h6 {
	color: #ffffff;
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	background: #de0010;
}

.slider-carousel .subtitle h6 a {
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	margin-left: 44px;
	font-family: "微软雅黑", "宋体";
	_margin-left: 25px;
}

.slider-carousel .subtitle h6 a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	margin-left: 44px;
	font-family: "微软雅黑", "宋体";
	_margin-left: 25px;
}

.slidesjs-container {
	overflow: visible !important
}

/*最新报道和视频*/
.newsReportVideo {
	margin-bottom: 40px;
}

.newsReportVideo_left {
	width: 670px;
	overflow: hidden;
}

.newsReportVideo_left h2 {
	margin-bottom: 25px;
}

.newsReportVideo_left .list {
	font-family: "microsoft yahei";
	font-size: 18px;
	max-height: 252px;
}

.newsReportVideo_left .list li {
	line-height: 42px;
	padding-left: 20px;
	background: url(../images/fangkuai.jpg) 0 18px no-repeat;
}

.newsReportVideo_left .list li a {
	color: #313131;
}

.newsReportVideo_right {}

.newsReportVideo_right h2 {
	margin-bottom: 35px;
}

.newsReportVideo_right .video {
	position: relative;
}

.newsReportVideo_right .video span {
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 54px;
	height: 46px;
	background: #b30a16 url(../images/shipin_btn.png) center center no-repeat;
}

.newsReportVideo_right .video p {
	position: absolute;
	left: 54px;
	bottom: 0;
	font-size: 14px;
	line-height: 19px;
	font-family: "microsoft yahei";
	background: #de0010;
	width: 276px;
	height: 36px;
	padding: 5px 20px;
	overflow: hidden;

}

.newsReportVideo_right .video p a {
	color: #fffdfd;
	font-size: 14px;

}

.newsReportVideo_left .list li a:hover,
.xxgc_con ul li a:hover,
.department_bg ul a:hover{
	color: #d9000d;
}

.newsReportVideo .more {
	font-size: 16px;
	color: #e1af45;
	padding-right: 20px;
	line-height: 34px;
	background: url(../images/more.png) 34px 10px no-repeat;
	*background-position: 38px 12px;
	margin: 10px 0 0 24px;
}

.newsReportVideo .list {
	clear: both;
}

h2 a img {
	display: block;
}

/* 学习贯彻 */
.xxgcTitle,
.qzhdTitle {
	display: block;
	width: 1100px;
	height: 33px;
}

.xxgc_con,
.qzhd_con {
	width: 1100px;
	margin: 0 auto;
}

.xxgc {
	width: 100%;
	height: 386px;
	background: url(../images/xxgc_bg.jpg) top center no-repeat;
}

.xxgc .xxgcTitle {
	padding: 48px 0;
	display: block;
	width: 1100px;
	height: 34px;
}

.xxgc_con {
	overflow: hidden;
}

.xxgc_con ul {
	overflow: hidden;
	float: left;
	width: 534px;
}

.xxgc_con ul:nth-child(2) {
	margin-left: 32px;
}

.xxgc_con ul li {
	overflow: hidden;
	height: 42px;
	padding-left: 16px;
	background: url(../images/dian.png) 1px 13px no-repeat;
}

.xxgc_con ul a {
	font-size: 18px;
	line-height: 42px;
	color: #313131;
}

/* 庆祝活动 */
.qzhd {
	width: 100%;
	background: url(../images/qzhd_bg.jpg) top center no-repeat;
	padding-bottom: 146px;
}

.qzhd .qzhdTitle {
	padding: 80px 0 42px;
}

.qzhd_con .fl {
	float: left;
}

.marque_con {
	overflow: hidden;
}

.marque_con_title {
	height: 36px;
	line-height: 36px;
	font-size: 20px;
	color: #fff;
	background: #de0010;
	text-align: center;
	padding: 0 12px 0 14px;
}
.marque_con_title:hover {
	color: #fff;
}
.marque {
	overflow: hidden;
	width: 828px;
	height: 36px;
	margin: 0 20px;
}

.marque a {
	color: #333;
}

.marque_box {
	float: left;
	width: 800%;
}

.marque_box li {
	padding: 0 25px;
	height: 36px;
	background: url(../images/reddian.png) 6px center no-repeat;
}

.marque_box li a {
	color: #d9000d;
	font-size: 18px;
	line-height: 36px;
}

.item1,
.item2,
.item1 li,
.item2 li {
	float: left;
	list-style: none;
}

.marque_con .morecs {
	font-size: 16px;
	color: #e1af45;
	line-height: 36px;
}
.xdsbssmore{
	/* display: inline-block; */
	font-size: 16px;
	color: #e1af45;
	padding-right: 20px;
	line-height: 36px;
	background: url(../images/more.png) 36px 11px no-repeat;
	*background-position: 38px 13px;
	float: right;
    margin: 0 70px 0 0;
}
.xdsbssmore:hover{
	color: #e1af45;
}
/*庆祝活动大图 */
.media_box {
	overflow: hidden;
	width: 1090px;
	border: 5px solid #c6e8ff;
	margin: 36px 0 0;
}

.media_box_video {
	float: left;
	overflow: hidden;
}

.media_box_video a {
	position: relative;
	display: block;
	width: 752px;
	height: 450px;
}

.media_box_video a img {
	width: 752px;
	height: 450px;
}

.media_box_video a {
	display: none;
}

.media_box_video .media_img_active {
	display: block;
}

.media_box_list {
	float: left;
	height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 12px;
	width: 338px;
	margin-left: -12px;
	position: relative;
}

.media_box_list .mdeia_text_active {
	background: #e1af45;
}

.media_box_list li {
	position: relative;
	width: 298px;
	height: 54px;
	padding: 18px 20px 18px 20px;
	background: url(../images/line.png) rgba(255, 255, 255, 0.8) 0 bottom no-repeat;
	background: url(../images/line.png) #fff 0 bottom no-repeat\0;
	*background: url(../images/line.png) #fff 0 bottom no-repeat;
	vertical-align: bottom;
}

.media_box_list li:last-child {
	background: rgba(255, 255, 255, 0.8);
	background: #fff\0;
	*background: #fff;
}

.media_box_list .mdeia_text_active:last-child {
	background: #e1af45;
}

.media_box_list li.mdeia_text_active .sanjiao {
	position: absolute;
	display: block;
	width: 12px;
	height: 28px;
	background: url(../images/sanjiao.png) no-repeat;
	left: -12px;
	top: 50%;
	margin-top: -14px;
}

.media_box_list li img {
	*float: left;
	display: inline-block;
	vertical-align: middle;
}

.media_box_list li .add_medai_tb {
	display: block;
	height: 100%;
	overflow: hidden;
	float: left;
	line-height: 25px;
}

.media_box_list li .media_text_box {
	height: 100%;
	display: table;
	*position: relative;
}

.media_box_list li .media_text_box .media_text {
	display: table-cell;
	vertical-align: middle;
}

.media_box_list .mdeia_text_active .media_text_box .media_text a {
	color: #fff;
}

.media_box_list li .media_text_box .media_text a {
	font-size: 18px;
	line-height: 30px;
	color: #313131;
	display: block;
	font-family: "微软雅黑";
}

/*学党史办实事*/
.xdsbss {
	margin-top: -78px;
}

.xds_bss {
	width: 1100px;
	margin: 0 auto 70px;
}

.ban_title {
	width: 1100px;
	margin: 0px auto;
	margin-bottom: 46px;
}

.l_department {
	width: 538px;
	height: 322px;
}

.second_tit {
	height: 35px;
}

.department_bg {
	width: 538px;
	height: 285px;
	background: url(../images/department_bg.jpg) no-repeat;
}

.department_bg ul {
	overflow: hidden;
	float: left;
	width: 504px;
	padding-left: 30px;
	padding-top: 30px;
}

.department_bg ul:nth-child(2) {
	margin-left: 32px;
}

.department_bg ul li {
	overflow: hidden;
	height: 42px;
	padding-left: 16px;
	background: url(../images/dian.png) 1px 13px no-repeat;
}

.department_bg ul a {
	font-size: 18px;
	line-height: 42px;
	color: #313131;
}


/*图集*/
.tj_content {
	width: 100%;
	margin: 0px auto;
	background: url(../images/hill_bg.jpg) bottom center no-repeat;
	padding-bottom: 64px;
}

.tj_box {
	width: 1100px;
	margin: 0 auto;
}

.tj_ban {
	margin-bottom: 60px;
}

.latestPolicySlides_father {
	position: relative;
}

.policyAnalyzing_content {
	margin-bottom: 76px;
}

.latestPolicySlides {
	position: relative;
	width: 1034px;
	height: 319px;
	overflow: hidden;
	margin: 0 auto;
}

.latestPolicySlides ul {
	position: absolute;
	left: 0;
}

.latestPolicySlides ul li {
	margin-right: 16px;
	display: inline;
	width: 334px;
	height: 319px;
	float: left;

}

.latestPolicySlides ul li .dataImg {
	display: inline-block;
	width: 334px;
	height: 206px;
}

.latestPolicySlides ul li .para_box {
	height: 107px;
	padding: 1px 0 0 0;
	margin: -3px 0 0 0;
	background-color: #f8f6f1;
	overflow: hidden;
	border-bottom: 3px solid #e1af45;
}

.latestPolicySlides ul li p.para {
	height: 75px;
	overflow: hidden;
	margin: 17px;
}

.latestPolicySlides ul li p.para a {
	font-family: "microsoft yahei";
	font-size: 18px;
	line-height: 25px;
}
.latestPolicySlides ul li p.para a:hover{
	color: #de0010;
}
.latestPolicySlides_left_btn {
	position: absolute;
	left: -4px;
	top: 40%;
	width: 35px;
	height: 47px;
	margin-top: -15px;
	background: url(../images/left_arrow.jpg) 0 0 no-repeat;
}

.latestPolicySlides_right_btn {
	position: absolute;
	top: 40%;
	width: 35px;
	height: 47px;
	right: -12px;
	margin-top: -15px;
	background: url(../images/right_arrow.jpg) 0 0 no-repeat;
}

#latestPolicySlides0 {
	margin-bottom: 48px;
}